@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --glass-bg: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  --glass-border: 1px solid rgba(0, 0, 0, 0.22);
  --light-text: #c9d6ff;
}
html {
  font-size: 12px;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #eaf4ff;
}
body::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: url(wallpaer5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5;
}
.navbar-conatiner {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--glass-bg);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.386);
  backdrop-filter: blur(14px);
  z-index: 22;
}
.title-box {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  z-index: 8;
}
.logo-box {
  position: relative;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-box::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: 2px;
  left: 11px;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.933);
  z-index: -1;
}
.logo-box img {
  height: 100%;
  width: 100%;
}
.title-box p {
  font-weight: 500;
  margin-left: 6px;
}
.tabs-box {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tabs-box a {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: white;
  transition: all 0.3s ease;
}
.tabs-box a:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.tabs-box i {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
/* CODES FOR CONTACT SECTION START HERE  */
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 12;
}
#loaderBox {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(20px);
  z-index: 9998;
}
.loader {
  width: 58px;
  height: 58px;
  position: relative;
}

.loader:before {
  content: "";
  width: 62px;
  height: 8px;
  background: #f0808050;
  position: absolute;
  top: 66px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
.blur {
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(20px);
}
.main-box {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 4px;
}
.main-box h4 {
  font-size: 24px;
  font-weight: 450;
}
.text {
  font-size: 11px;
  color: var(--light-text);
}
.sub-container {
  height: 70%;
  width: 100%;
  display: flex;
}
.form-box {
  height: 100%;
  width: 70%;
  padding: 6px 12px;
}
.result-box {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.result-box i {
  font-size: 12em;
  color: rgb(16, 183, 44);
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.32);
  border-radius: 50%;
}
.result-box p {
  font-size: 2em;
  color: lightgreen;
}
#returnBtn {
  font-size: 12px;
  border-style: none;
  border-radius: 4px;
  background: linear-gradient(to top left, #0f036d, #5261e2);
  color: white;
  padding: 6px 14px;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.2),
    inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.524);
  transition: all 0.3s ease;
}
#returnBtn:hover {
  transform: scale(1.1);
}
#returnBtn:active {
  transform: scale(0.9);
}
#userFeed {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}
#userName,
#userEmail,
#userSubj {
  height: 30px;
  width: 100%;
  border-style: none;
  border: var(--glass-border);
  border-radius: 4px;
  background: var(--glass-bg);
  backdrop-filter: blur(8px);
  outline: none;
  font-size: 12px;
  padding-left: 8px;
}
#userName::placeholder,
#userEmail::placeholder,
#userSubj::placeholder {
  color: var(--light-text);
}
#message {
  height: 30%;
  width: 100%;
  border-style: none;
  border: var(--glass-border);
  border-radius: 4px;
  background: var(--glass-bg);
  backdrop-filter: blur(8px);
  outline: none;
  font-size: 12px;
  font-weight: 200;
  padding: 8px 12px;
  resize: none;
}
#message::placeholder {
  color: var(--light-text);
  font-size: 12px;
  font-weight: 200;
}
#submitBtn {
  font-size: 12px;
  border-style: none;
  border-radius: 4px;
  background: linear-gradient(to top left, #0f036d, #5261e2);
  color: white;
  padding: 6px 10px;
  box-shadow:
    2px 4px 4px rgba(5, 5, 5, 0.18),
    inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.524);
  margin-top: 8px;
  transition: all 0.3s ease;
}
#submitBtn:active {
  transform: scale(0.9);
}
/* CODES FOR DETAIL BOX  */
.contact-detail {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 12px 4px;
  gap: 6px;
}
.detail-box {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: var(--glass-bg);
  border: var(--glass-border);
  padding: 4px;
}
.detail-logo {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fcd57e;
  perspective: 1000px;
}
.detail-logo i {
  transform-style: preserve-3d;
  animation: round2 1.5s ease-in-out infinite both;
}
@keyframes round2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.call-box {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  color: var(--light-text);
  padding-left: 8px;
}
/* CODES FOR MEDIA BOX  */
.media-box {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.media-box i {
  border: 1px solid;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--light-text);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.media-box i:hover {
  background-color: rgba(250, 238, 238, 0.679);
  color: #5261e2;
  border: 1px solid white;
  transform: translateY(-4px) scale(1.2);
}
