@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --glass-bg: linear-gradient(90deg, rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25));
    --glass-border: 1px solid rgba(0, 0, 0, 0.22);
    --light-text: #c9d6ff;
}
html{
    font-size: 12px ;
}
html,body{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #eaf4ff;
}
body::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url(wallpaer5.jpeg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* filter: brightness(0.8); */
}
.navbar-conatiner{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--glass-bg);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.386);
    backdrop-filter: blur(14px);
    z-index: 22;
}
.title-box{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    z-index: 8;
}
.logo-box{
    position: relative;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-box::after{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 2px;
    left: 11px;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.933);
    z-index: -1;
}
.logo-box img{
    height: 100%;
    width: 100%;
}
.title-box p{
    font-weight: 500;
    margin-left: 6px;
}
.tabs-box{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tabs-box a{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: white;
    transition: all 0.3s ease;
}
.tabs-box a:hover{
    background-color: rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}
.tabs-box i{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/* CODES FOR SEARCH BOX START HERE  */
.search-container{
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
}
.search-container::before{
    position: absolute;
    content: "";
    /* background-color: white; */
    height: 2px;
    width: 100%;
    bottom: 0;
    border-bottom: 1px solid white;
    border-radius: 60%;
}
#cityInput{
    height: 60%;
    width: 30%;
    border-style: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    padding-left: 8px;
    font-size: 12px;
    background: var(--glass-bg);
    backdrop-filter: blur(6px);
}
input[type="text"]::placeholder{
    color: #EAEAFF;
}
#searchBtn{
    border-style: none;
    border-radius: 0 4px 4px 0;
    height: 60%;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(to top left,#fd9f1b,#FFD98A);
    color: #f2f3f6;
    padding: 2px 16px;
    backdrop-filter: blur(6px);
    transition: all 0.3s ease;
}

#searchBtn:active{
    transform: scale(0.96);
}
/* CODES FOR CONTACT SECTION START HERE  */
.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    z-index: 12;
}
.main-box{
    border: 1px solid yellow;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 4px;
}
.main-box h4{
    font-size: 24px;
    font-weight: 450;
}
.text{
    font-size: 11px;
    color: var(--light-text);
}
.sub-container{
    height: 70%;
    width: 100%;
    display: flex;
    border: 1px solid ;
}
.form-box{
    height: 100%;
    width: 70%;
    padding: 6px;
    border: 1px solid;
}
#userFeed{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}
#userName,
#userEmail,
#userSubj{
    height: 30px;
    width: 100%;
    border-style: none;
    border: var(--glass-border);
    border-radius: 4px;
    background: var(--glass-bg);
    backdrop-filter: blur(8px);
    outline: none;
    font-size: 12px;
    padding-left: 8px;
}
#userName::placeholder,
#userEmail::placeholder,
#userSubj::placeholder{
    color: var(--light-text);
}
#message{
     height: 30%;
    width: 100%;
    border-style: none;
    border: var(--glass-border);
    border-radius: 4px;
    background: var(--glass-bg);
    backdrop-filter: blur(8px);
    outline: none;
    font-size: 12px;
    font-weight: 200;
    padding: 8px 12px;
    resize: none;
}
#message::placeholder{
    color: var(--light-text);
    font-size: 12px;
    font-weight: 200;
}
#submitBtn{
    font-size: 12px;
    border-style: none;
    border-radius: 4px;
    background: linear-gradient(to top left, #0f036d,#5261e2);
    color: white;
    padding: 6px 10px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.559),inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.524);
}