@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, skyblue,blue);
}
.back-box{
    position: absolute;
    top: 0;
    height: 55vh;
    width: 100%;
}
.back-box img{
    height: 100%;
    width: 100%;
   opacity: 0.8; 
}
.navbar-conatiner{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(61, 61, 255, 0.164), rgba(255, 186, 25, 0.289));
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.386);
    z-index: 22;
}
/* .navbar-conatiner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(3, 20, 255, 0.2);
    pointer-events: none;
} */
.title-box{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    /* border: 1px solid yellow; */
    z-index: 8;
}
.logo-box{
    position: relative;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-box::after{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 2px;
    left: 11px;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.933);
    z-index: -1;
}
.logo-box img{
    height: 100%;
    width: 100%;
}
.title-box p{
    color: white;
    font-weight: 500;
    margin-left: 6px;
}
.tabs-box{
    /* border: 1px solid; */
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 32px; */
}
.tabs-box a{
    text-decoration: none;
    color: rgb(235, 227, 227);
    font-size: 12px;
    font-weight: 400;
}
.tabs-box i{
    /* text-decoration: none; */
    color: rgb(235, 227, 227);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.search-container{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    border-bottom: 1px solid;
}
#cityInput{
    height: 25px;
    width: 30%;
    border-style: none;
    border-radius: 2px 0 0 2px;
    outline: none;
    padding-left: 8px;
    font-size: 12px;
}
#searchBtn{
    border-style: none;
    border-radius: 0 2px 2px 0;
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(232, 224, 224);
    background: linear-gradient(to top left, rgb(2, 2, 68),rgb(79, 113, 239));
    padding: 2px 10px;
}
.sub-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
.content-box{
    position: relative;
    height: 90%;
    width: 80%;
    border: 1px solid;
}