@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    font-size: 12px ;
}
html,body{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
body::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url(new-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.9);
}
/* .back-image{
    position: absolute;
    height: 99%;
    width: 99%;
}
.back-image img{
    height: 100%;
    width: 100%;
} */
.navbar-conatiner{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(61, 61, 255, 0.164), rgba(255, 186, 25, 0.289));
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.386);
    z-index: 22;
}
.title-box{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    /* border: 1px solid yellow; */
    z-index: 8;
}
.logo-box{
    position: relative;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-box::after{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 2px;
    left: 11px;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.933);
    z-index: -1;
}
.logo-box img{
    height: 100%;
    width: 100%;
}
.title-box p{
    color: white;
    font-weight: 500;
    margin-left: 6px;
}
.tabs-box{
    /* border: 1px solid; */
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 32px; */
}
.tabs-box a{
    text-decoration: none;
    color: rgb(235, 227, 227);
    font-size: 12px;
    font-weight: 400;
}
.tabs-box i{
    /* text-decoration: none; */
    color: rgb(235, 227, 227);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.search-container{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    border-bottom: 1px solid;
}
#cityInput{
    height: 25px;
    width: 30%;
    border-style: none;
    border-radius: 2px 0 0 2px;
    outline: none;
    padding-left: 8px;
    font-size: 12px;
}
#searchBtn{
    border-style: none;
    border-radius: 0 2px 2px 0;
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(232, 224, 224);
    background: linear-gradient(to top left, rgb(2, 2, 68),rgb(79, 113, 239));
    padding: 2px 10px;
    transition: all 0.3s ease;
}
#searchBtn:active{
    transform: scale(0.9);
}
.sub-container{
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 20px;
    border: 1px solid red;
}
.content-box{ 
    height: 90%;
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    /* border: 1px solid; */
    z-index: 12;
}
.info-box{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    /* border: 1px solid blue; */
}
.temp-info{
    /* border: 1px solid; */
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 12px 34px;
    background-color: rgba(4, 4, 104, 0.069);
}
#tempText{
    font-size: 38px;
    color: white;
    margin-bottom: 0px;
    /* font-weight: 500; */
}
#cloudInfo{
    color: white;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.165);
    margin-top: -10px;
}
#dateInfo{
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.condition-box{
    /* border: 1px solid; */
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    background-color: rgba(0, 0, 0, 0.193);
}
.condition-box div{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 0 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.285);
}
.condition-box div:last-child{
    border: none;
}
.condition-box div p{
    font-size: 12px;
    color: whitesmoke;
}
.weather-info{
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background: rgb(255, 255, 255); */
}
.upper-section{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}
.forecast{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid yellow;
}
.card{
    border: 1px solid red;
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-box{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
}
.icon-box h3{
    font-size: 12px;
}
.icon-box img{
    height: 80px;
    width: 80px;
}
.temp-dets{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lower-section{
    /* border: 1px solid white; */
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* z-index: 6; */
}
.details-container{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.details-box{
    height: 80%;
    width: 20%;
    border: 1px solid;
}